*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light-beige: oklch(97.15% 0.02419 77.46334);
  --vanilla: oklch(92.74% 0.0877 97.21);
  --cyan: oklch(91.18% 0.0962 195.88);
  --rose: oklch(81.18% 0.1431 347.62916000802704);
  --salmon: oklch(85.59% 0.0765 8.39);
  --salmon-dark: oklch(79.67% 0.0765 8.39);
  --teal: oklch(80.79% 0.1088 217.88);
  --teal-dark: oklch(74.97% 0.1088 217.88);
  --gray: oklch(57.65% 0.0271 217.88);
  --danger: oklch(52.35% 0.185 24.35);

  --input-padding: 0.5rem;
  --input-border-radius: 10px;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: 'Ubuntu', serif;
  background-color: var(--light-beige);
  width: 100%;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  font-family: 'Pacifico', serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

.title {
  font-family: 'Pacifico', serif;
  font-size: 5em;
  text-align: center;
  width: 50%;
  margin-inline: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#activityName {
  width: 15rem;
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  border: none;
  margin-inline-end: 0.5rem;
}

#activityCategory,
#add-button {
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  border: none;
}

#add-button {
  background-color: var(--teal);
  margin-inline-start: 0.5rem;
  &:hover {
    background-color: var(--teal-dark);
  }
}

.task-desc {
  margin-inline-end: 1rem;
  font-family: 'Caveat', serif;
  font-size: 1.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

li {
  list-style-type: none;
}

#bucketLists {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.category {
  padding-inline: 1rem;
  margin-block-start: 3.5rem;
  box-shadow: 0px 10px 5px -1px rgba(204, 200, 204, 1);
  position: relative;
  border-bottom-left-radius: 60px 5px;
}

.category::before {
  content: '';
  height: 40px;
  width: 100px;
  position: absolute;
  top: -20px;
  left: 120px;
  background: linear-gradient(
    104deg,
    rgba(217, 186, 97, 0.4) 79%,
    rgb(255 255 255 / 43%) 100%
  );
  transform: rotate(139deg);
}

.category::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  box-shadow: 2px 18px 8px 0px rgb(204 200 204 / 68%);
  transform: rotate(351deg);
  border-bottom-left-radius: 60px 5px;
  z-index: -1;
}

#category-container-travel {
  background-color: var(--cyan);
  background-image: linear-gradient(
    233deg,
    var(--cyan) 0%,
    rgb(255 255 255 / 56%) 100%
  );
}
#category-container-adventure {
  background-color: var(--rose);
  background-image: linear-gradient(
    233deg,
    var(--rose) 0%,
    rgb(255 255 255 / 56%) 100%
  );
}
#category-container-learning {
  background-color: var(--vanilla);
  background-image: linear-gradient(
    233deg,
    var(--vanilla) 0%,
    rgb(255 255 255 / 56%) 100%
  );
}
#category-container-hobby {
  background-color: var(--salmon);
  background-image: linear-gradient(
    233deg,
    var(--salmon) 0%,
    rgb(255 255 255 / 56%) 100%
  );
}

.btn-done,
.btn-delete,
.btn-edit {
  background: none;
  border: 1px var(--teal) solid;
  border-radius: 5px;
  font-size: 1.5em;
  margin-inline: 0.25rem;

  &:hover:not([disabled]) {
    background-color: var(--teal);
    border-radius: 5px;
    cursor: pointer;
  }
}

.task-completed {
  text-decoration: line-through;
  color: var(--gray);
}

.sort-button {
  border: none;
  border-radius: var(--input-border-radius);
  background-color: var(--teal);
  font-size: small;
  padding: var(--input-padding);

  &:hover {
    background-color: var(--teal-dark);
  }
}

dialog {
  border: none;
  padding-inline: 1.5rem;
  border-radius: 16px;
  background-color: var(--vanilla);
}

#dialog-title,
#dialog-desc {
  text-align: center;
}

#dialog-edit {
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  border: none;
  margin-inline-end: 1rem;
}

#dialog-cancel,
#dialog-ok {
  border: none;
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
}

#dialog-cancel {
  background-color: var(--salmon);
  &:hover {
    background-color: var(--salmon-dark);
  }
}

#dialog-ok {
  background-color: var(--teal);
  &:hover {
    background-color: var(--teal-dark);
  }
}

.ph-trash {
  color: var(--danger);
}
